[submodule "vrpn"]
	path = vrpn
	url = https://github.com/rpavlik/vrpn.git
[submodule "tuple-transmission"]
	path = tuple-transmission
	url = https://github.com/vancegroup/tuple-transmission.git
[submodule "loki-lib"]
	path = loki-lib
	url = https://github.com/rpavlik/loki-lib.git
[submodule "NexusRobotProtocol"]
	path = NexusRobotProtocol
	url = https://github.com/vancegroup/NexusRobotProtocol.git
